.icons {
  height: 32px;
  width: 32px;
}

.logo-name {
  margin-left: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width : 992px) {
  #container {
    padding-left: 0px;
  }
}

nav {
  background-color: #008CBA;
}
