<ul id="slide-out" class="sidenav">
  <li><div class="user-view">
    <div class="background">
      <img src="../../../assets/img/perfil-background.jpg">
    </div>
    <a><img class="circle" src="../../../assets/img/me.jpg"></a>
    <a><span class="white-text name">Josep Antoni Costa Camps</span></a>
    <a><span class="white-text email">costacamps8@gmail.com</span></a>
  </div></li>
  <li><a [routerLink]="['/home']"><i class="material-icons">home</i>Home</a></li>
  <li><a [routerLink]="['/about']"><i class="material-icons">person</i>About</a></li>
  <li><a [routerLink]="['/career']"><i class="material-icons">description</i>Career</a></li>
  <li><a class="subheader">Contact</a></li>
    <a style="margin-left: 30px" href="https://github.com/JosepAntoni"><img src="../../../assets/img/contact/GitHub-Mark-32px.png" class="icons"></a>
    <a style="margin-left: 30px" href="https://www.instagram.com/costacamps8"><img src="../../../assets/img/contact/Instagram.png" class="icons"></a>
    <a style="margin-left: 30px" href="https://twitter.com/jacc54922755"><img src="../../../assets/img/contact/twitter.jpg" class="icons"></a>
</ul>
<nav>
  <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large">
    <i class="material-icons">menu</i>
  </a>
</nav>

