<div>
  <div class="section">
    <div class="row container">
      <h2 class="header"><b>Professional career</b><i class="material-icons">edit</i></h2>
      <h3 class="header"><b>Employment</b><i class="material-icons">business</i></h3>
      <div class="hl"></div>
      <h5 class="header">
        <b style="text-align: left">
          NXP Semiconductors Austria GmbH
        </b>
      </h5>
      <h6>
        <p style="text-align: left">
          Intern technical student
        </p>
        <p style="text-align: left">
          Summer 2019 - Present
        </p>

        <li>Development and extension of validation strategies and test plans for JavaCard applets.</li>
        <li>Test execution, monitoring and reporting.</li>
        <li>Development and maintenance of proprietary test framework.</li>
        <li>Enhance automated testing.</li>
      </h6>
      <h5 class="header">
        <b style="text-align: left">
          Factory Data
        </b>
      </h5>
      <h6>
        <p style="text-align: left">
          Software Engineer
        </p>
        <p style="text-align: left">
          Summer 2018 - Winter 2018
        </p>
      </h6>
      <li>Research of a new way to host documents to reduce query's time.</li>
      <li>Deployment of Elasticsearch engine.</li>
      <li>Configuration of Logstash, Kibana and Elasticsearch engines.</li>
      <li>Front-end developer.</li>
      <h3 class="header"><b>Education</b><i class="material-icons">school</i></h3>
      <div class="hl"></div>
      <h5 class="header">
        <b style="text-align: left">
          University of Lleida
        </b>
      </h5>
      <h6>
        <p style="text-align: left">
          Lleida
        </p>
        <p style="text-align: left">
          September 2015 - Present
        </p>
      </h6>
      <li>Bachelor degree in computer science</li>
      <h3 class="header"><b>Technical Experience</b><i class="material-icons">computer</i></h3>
      <div class="hl"></div>
      <h5 class="header">
        <b style="text-align: left">
          Projects
        </b>
      </h5>
      <li><b>Juernes S. A. web application</b> (2017 - 2018). Development of a web application
        to a manage a newspaper company with Django.</li>
      <li><b>Protect-me app</b> (2018). Development of an app to fight
        bullying in schools with Node.js, Angular 6 and Flutter.</li>
      <li><b>Subhaste web application</b> (2018 - 2019). Development of a web application to manage an auction
        with Node.js and Angular 6.</li>
      <li><b>IAESTE LC LLEIDA web</b> (2018 - 2019).
        Development of a website with Angular 6 and Node.js for backend.</li>
      <h3 class="header"><b>Additional experience and awards</b><i class="material-icons">important_devices</i></h3>
      <div class="hl"></div>
      <li> Participated in hackathons</li>
      <li> Developer of the HackEPS 2018 winner team.</li>
      <li> Placed 2nd in one of the sponsors' challenges at HackCambridge 2019.</li>
      <h3 class="header"><b>Languages and Technologies</b><i class="material-icons">keyboard</i></h3>
      <div class="hl"></div>
      <li> C++; C; Java; C#; SQL; Javascript; Typescript; HTML; CSS; Python; GO.</li>
      <li> Spring; Angular; Node.js; Django; Flask</li>
      <li> Visual Studio; Pycharm; IntelliJ</li>
    </div>
  </div>
</div>
