<div class="parallax-container">
  <div class="parallax"><img src="../../../assets/img/carousel/sea.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">About me</h2>
    <p class="grey-text text-darken-3 lighten-3">
      I'm just a young boy who's interested in the IT world, always looking for new challenges and new experiences.
      Currently I'm a student at the University of Lleida (Catalonia).
    </p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="../../../assets/img/carousel/bob.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">My hobbies</h2>
    <p class="grey-text text-darken-3 lighten-3">
      In my free time I like to work on my personal projects, learning languages or playing video-games. This means that
      I'm almost always with my pc.
    </p>
    <p class="grey-text text-darken-3 lighten-3">
      But I also have a live outside, drinking a beer or spending the night out are the perfect combination with my lifestyle.
    </p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="../../../assets/img/carousel/stand.jpg"></div>
</div>
