.text-container{
  text-align: center;
  margin-top: 50px;
  text-align-all: center;
}

a {
  text-decoration: none;
  color: #008CBA;
}

h5{
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 2px;
}

.image{
  height: 100%;
  background-image:url('../../../assets/img/tree.jpeg');
  /* Center and scale the image nicely */
  background-size: cover;
}

.tittle {
  text-align: center;
  color: black;
}

.front-header {
  width: 50%;
  margin-top: 50%;
  border-radius: 50%;
  background: rgba(255,255,255,0.5)
}
