<div class="container">
  <div class="text-container">
    Hi! My name is Josep Antoni and I am acomputer science student at the University of Lleida(Catalonia).
  </div>
  <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="../../../assets/img/carousel/sea.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="../../../assets/img/carousel/me.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="../../../assets/img/carousel/bob.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="../../../assets/img/carousel/stand.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="../../../assets/img/carousel/talco.jpg"></a>
  </div>
</div>
