<!--<div class="image">
  <div class="container" style="place-content: center">
    <div class="text-container card">
      <h5>
      Hi! My name is Josep Antoni and I am a computer science student at the University of Lleida(Catalonia).
      </h5>
    </div>
    <div class="carousel">
      <a class="carousel-item" href="#one!"><img src="../../../assets/img/carousel/sea.jpg"></a>
      <a class="carousel-item" href="#two!"><img src="../../../assets/img/carousel/me.jpg"></a>
      <a class="carousel-item" href="#three!"><img src="../../../assets/img/carousel/bob.jpg"></a>
      <a class="carousel-item" href="#four!"><img src="../../../assets/img/carousel/stand.jpg"></a>
      <a class="carousel-item" href="#five!"><img src="../../../assets/img/carousel/talco.jpg"></a>
    </div>
  </div>
</div>
<div class="section white">

</div>-->
<div class="section image">
  <div class="row container">
    <h2 class="header tittle">Josep Antoni</h2>
  </div>
  <div style="text-align: center">
    <img src="../../../assets/img/carousel/talco.jpg" class="front-image">
  </div>
</div>
